<!DOCTYPE html>
<html>
  <head>
    <title>Camera Stream</title>
  </head>
  <body>
    <h2>Live Stream</h2>
    <img
      src="{% url 'video_feed' %}"
      width="640"
      height="480"
      id="video-stream"
    />

    <br /><br />
    <button onclick="captureImage()">Capture</button>
    <form
      id="capture-form"
      method="POST"
      enctype="multipart/form-data"
      action="{% url 'save_capture' %}"
    >
      {% csrf_token %}
      <input type="hidden" name="image_data" id="image_data" />
      <br />
      <img id="captured-image" style="display: none" width="320" />
      <br />
      <button type="submit">Save</button>
    </form>

    <script>
      function captureImage() {
        let video = document.getElementById("video-stream");
        let canvas = document.createElement("canvas");
        canvas.width = 640;
        canvas.height = 480;
        let ctx = canvas.getContext("2d");
        ctx.drawImage(video, 0, 0, canvas.width, canvas.height);

        let dataURL = canvas.toDataURL("image/jpeg");
        document.getElementById("captured-image").src = dataURL;
        document.getElementById("captured-image").style.display = "block";
        document.getElementById("image_data").value = dataURL;
      }
    </script>
  </body>
</html>
